// dark
$background-color-dark: #202d36;
$background-color-dark-second: #2b3743;
$text-color-dark: #c6ccd0;
$text-color-dark-second: #808a94;

// light
$background-color-light: #fafafa;
$background-color-light-second: #ffffff;
$text-color-light: #0e1113;
$text-color-light-second: #3d4444;
